.container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.container > div {
    width: 200px;
    height: auto;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

#showList {
    display: flex;
    flex-direction: column;
}

#done {
    background-color: darkslateblue;
    color: white;
    border-radius: 5px;
}

#done:hover {
    background-color: dodgerblue;
}

.cancelbut {
    display: none;
    font-size: 18px;
    font-weight: bold;
    color: #aaa;
}

div.item-div:hover .cancelbut {
    display: inline;
}

.cancelbut:hover {
    color: black;
    cursor: pointer;
}

#inputText {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 20px;
}

span {
    font-weight: bold;
    font-size: 20px;
}

.list_item {
    font-size: 15px;
}

.titleCon {
    display: flex;
    justify-content: center;
}

.input {
    box-sizing: border-box;
}
/*TODO better layout*/